.h-screen-minus-navbar {
  height: calc(100vh - 64px); /* Déduire 64px de la hauteur de l'écran */
  overflow: hidden; /* Pour s'assurer que l'image ne dépasse pas du conteneur si elle est plus grande */
}

.imagePleineTaille {
  height: 100%;
  object-fit: cover; /* Pour conserver le rapport hauteur/largeur tout en remplissant le conteneur */
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}
