@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #EDEDED;
}

#sky {
    width: 95vw;
    height: 800px; /* Réglez la hauteur selon vos besoins */
    position: absolute; /* Modifiez la position en absolute */
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0; /* Placez-le en haut de son conteneur parent */
}
  
#shootingstars {
    width: 150vh;
    height: 800px; /* Réglez la hauteur selon vos besoins */
    position: absolute; /* Modifiez la position en absolute */
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 50%; /* Placez-le horizontalement au milieu de son conteneur parent */
    top: 50%; /* Placez-le verticalement au milieu de son conteneur parent */
    transform: translateX(-50%) translateY(-50%) rotate(120deg); /* Réglez la position centrale */
}
  
.wish {
    height: 2px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px white);
    overflow: hidden;
}

@media screen and (max-width: 1316px) {
  #sky {
    width: 90vw;
  }

  #shootingstars {
    width: 600px;
  }
}

@media screen and (max-width: 1023px) {
  #sky {
    display: none;
  }

  #shootingstars {
    display: none;
  }
}

.video {
    width: 100%;
    height: 100vh;
		z-index: 99;
    object-fit: cover;
    top: 0px;
    left: 50%;
}

.font-serif {
  font-family: 'Nerko one', sans-serif;
}

.font-mono {
  font-family: 'Salsa', sans-serif;
}

.font-sans {
  font-family: 'Oi', sans-serif;
}

.b {
	border: 1px red solid;
}

ul,li  {
  list-style-type: none;
}

p,h5,span {
  font-family: 'Roboto', sans-serif;
}

h1,h2 {
  font-family: 'Oi', sans-serif;
}

p,span {
  font-family: 'Nerko one', sans-serif;
}

@layer base {
  :root {
    --background-plain: rgba(244, 244, 244, 1);
    --background-secondary: #343434;
    --gray-border: #0e0e2c1a;
    --background-pink: #fec7d7;
    --headline: #343434;
    --paragraph: #343434;
    --button: #343434;
    --button-text: #fffffe;
    --secondary: #a786df;
    --main: #f9f8fc;
    --highlight: #fec7d7;
  }
}